:root {
    box-sizing: border-box;
    font-family: poppins;
    font: normal;
    --paragraphs: rgb(226, 225, 225);
    --button-border: green;
    --hover-line: green;
    --headings:  rgb(26, 25, 25);
}

*,
*::after,
*::before {
padding: 0;
margin: 0;
}

body {
    height: max-content;
    width: 100vw;
    background-color: rgb(34, 33, 33);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 2px;
    position:fixed;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    text-align: right;
    font-size: 18px;
    color: #111;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

nav img {
    width: 200px;
}

nav ul li a:hover{
    color: #fff;
    background-color: rgb(204, 93, 93);
    padding: 5px;
    transition: 0.5s;
    
}

nav .hire-me {
    border: 2px solid rgb(204, 93, 93);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(204, 93, 93);
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    
}
nav .hire-me:hover{
    background-color: #fff;
    color: rgb(204, 93, 93);
    transition: 0.5s;
    font-weight: bold;
    opacity: 2
     ;
}

.container{
    background-color: #111;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(/backgroud.jpg);
    background-position: center;
    background-size: cover;


}

.container h2 {
    color: white;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 5px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.wrapper .static-txt {
    font-size: 90px;
    color: #fff;
    font-weight: 400;
}

.wrapper .dynamic-txts {
   margin-left: 17px;
   line-height: 80px;
   height: 90px;
   overflow: hidden;
   

}

.dynamic-txts li {
    list-style: none;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #face30;
    position: relative;
    top: 0;
    animation: slide 4s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -320px;
        margin: 2 -20px 2 20px;

    }
}
.dynamic-txts li span {
    position: relative;
    

}
.dynamic-txts li span::after {
content: "";
position: absolute;
height: 100%;
width: 100%;
/* background: #111; */
border-left: 2px solid  #face30;
animation: typing 1s steps(15) infinite;
}

@keyframes typing {
    100% {
        left: 0%;
        margin: 0 -20px 0 20px;

    }
}

.text-box p {
    font-size: 30px;
    color:#fff;
    text-align: center;

}

.text-box a {
    margin-top: 30px;
    display: inline-flex;
    border-radius: 6px;
    border: 2px solid rgb(204, 93, 93);
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
     
}

.text-box a:hover {
    background-color: rgb(204, 93, 93);
    color: white;
    transition: 1s;
}

.for-details {
    display: flex;
    justify-content: center;
    align-items: center;


}


.know-me {
    width: 100vw;
    height: 700px;
    margin-top: 50px
    
}
.know-me h2 strong {
    color: rgb(229, 231, 229);
    font-weight: 800;
    
}
.know-me h2 {
    font-size: 100px;
    font-weight: 800px;
    text-align: center;
    color: rgb(204, 93, 93);

}

.container2 {
    display: flex;
    width: 100vw;
    gap: 15%;
    margin: 0 150px;


}
.container2 div {
    width: 500px;
    height: 800px;
    margin-top: 20px;
}
.details1 {
    display: flex;
    flex-direction: column;
    text-align: center;

}
.know-me h3 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    word-spacing: 5px;
    padding-bottom: 5px;
    color:#fff;
}

.know-me strong {
    color: rgb(204, 93, 93);
    font-weight: 800;
}

.know-me .details1 p:not(:last-child) {
    padding-bottom: 20px;
}

.know-me .details1 p {
    font-size: 20px;
    font-weight: 400;
    color: var(--paragraphs);

}

.details2 p {
    font-size: 20px;
    font-weight: 400;
    color: var(--paragraphs);
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(204, 93, 93);
    padding: 5px;

}

.details2 p:nth-child(4) {
    margin-bottom: 25px;
}
.details2 a {
    color: rgb(204, 93, 93);
    border: 2px solid rgb(204, 93, 93);
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding:   10px;
    border-radius: 10px;
    margin-top: 10px;
}

.details2 a:hover {
background-color: rgb(204, 93, 93);
color: white;
transition: 0.8s;
}



.what-i-do {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}

.what-i-do .duties {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    gap: 15%;

}
.what-i-do .duties span {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: calc((100%-2rem)/3);
   line-height: 30px;
   max-width: max-content;
   margin-bottom: 50px;
}
.what-i-do h2 {
    text-transform: uppercase;
    font-size: 100px;
    color: rgb(245, 242, 242);
    padding-top: 50px;
    padding-bottom: 30px;
    }
    
    .what-i-do p {
        font-size: 20px;
        color: var(--paragraphs);

    }

    .what-i-do h3 {
        font-size: 30px;
        color: rgb(204, 93, 93);
        padding-bottom: 1rem;

    }
    
    .summary {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .summary h2{
        text-transform: uppercase;
        font-size: 100px;
        color: rgb(245, 242, 242);
        padding-top: 50px;
        padding-bottom: 30px;  
        text-align: center;
    }

    .summary div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(204, 93, 93);
        padding: 50px;
        width: max-content;
        margin-bottom: 50px;
        border-radius: 10px;
        line-height: 200%;
    }
.summary div span {
    width: 500px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 15%;
    padding: 30px;
}

.summary div span h3 {
    color: #f1d261;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 18px;
}

.summary div span h4 {
    color: #fff;
    font-weight: bold;
    font-size: 25px; 
}

.summary div span h5 {
    color: rgb(36, 35, 35);
    font-weight: bold;
    font-size: 20px; 
}

.summary div span p {
    color: #fff;
    font-size: 15px; 
}

.contact {
    height: max-content;
    padding: 50px;

}
.contact h2 {
    text-transform: uppercase;
        font-size: 100px;
        color: rgb(245, 242, 242);
        padding-top: 50px;
        padding-bottom: 30px;  
        text-align: center;
}

.contact .contact-info {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 15%
}

.contact .contact-info .contact-details {
width: 300px;

}

.contact-info h3 {
    color: rgb(204, 93, 93);
    font-size: 27px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.contact-info .contact-details p {
    color: #fff;
    font-size: 18px;
    line-height: 2.0;
}

.send-quote label {
color: rgb(204, 93, 93);
font-size: 20px;
text-transform: uppercase;
letter-spacing: 2px;
padding-bottom: 10rem;
margin-bottom: 10px;
}

.send-quote input {
color: #fff;
background-color: rgb(204, 93, 93);
height: 50px;
width: 400px;
font-size: 18px;
outline: none;
border-radius: 10px;
padding: 5px;

}

.send-quote input::placeholder {
    color:rgb(226, 225, 225);
    text-transform: uppercase;
    font-size: 15px;
}

.send-quote textarea {
    background-color: rgb(204, 93, 93);
    color: white;
    font-size: 18px;
    height: 300px;
    width: 400px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}

.send-quote button {
    color: rgb(204, 93, 93);
    border: 2px solid rgb(204, 93, 93);
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding:   10px;
    border-radius: 10px;
    margin-top: 10px;
    
}

.send-quote button:hover {
    background-color: rgb(204, 93, 93);
    color: white;
    transition: 0.8s;
    }